<title>@ViewBag.Title</title>

<div class="container">
    <div class="row">
        <div class="col-sm" id="ColCard">
            <div class="card bg-dark text-light" id="IndexCard">
                <div class="card-body">
                    <h5 class="card-title">HTML</h5>
                    <p class="card-text">I have a lot of experience with html and writing code for websites. This page is written with html</p>
                </div>
            </div>
        </div>
        <div class="col-sm" id="ColCard">
            <div class="card bg-dark text-light" id="IndexCard">
                <div class="card-body">
                    <h5 class="card-title">CSS</h5>
                    <p class="card-text">CSS is a great tool to help style my html pages that I create. CSS is also used on this site</p>
                </div>
            </div>
        </div>
        <div class="col-sm" id="ColCard">
            <div class="card bg-dark text-light" id="IndexCard">
                <div class="card-body">
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text">I have used JavaScript to create dynamic webpages in the past. While this site uses primarily C# focused 
                    functionality, there is a minimal amount used</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm" id="ColCardBelow">
            <div class="card bg-dark text-light" id="IndexCard">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-sm" id="ColCardBelow">
            <div class="card bg-dark text-light" id="IndexCard">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-sm" id="ColCardBelow">
            <div class="card bg-dark text-light" id="IndexCard">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>
